*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main{
  z-index: 200px;
 height:70%;
 width:100%;
}

.lodingcolor{
  z-index: 200px;
  color:white;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: blink 3s linear infinite;
} 

@keyframes blink {
  0%{
    color:rgba(0, 0, 0, 0.651)
  }
  16%{
    color:rgb(135,17,17)
  }
  32%{
    color:black
  }
 
  48%{
    color:rgb(108,165,42)
  }
  64%{
    color:black
  }
  80%{
    color:rgb(42,104,165)
  }
  100%{
    color:black
  }
  
}

.loader{
  z-index: 200px;
  position:absolute;
  height: 250px;
  width:250px;
  border:0px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.loader:nth-child(1){
  border-left-width:10px;
  border-color:rgb(108,165,42);
  animation: rotate  1s linear infinite
}
.loader:nth-child(2){
  border-bottom-width:10px;
  border-color:brown;
  animation: rotate1  1s linear infinite
}
.loader:nth-child(3){
  border-top-width:10px;
  border-color:rgb(42,104,165);
  animation: rotate2  1s linear infinite
}

@keyframes rotate {
   0%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
   }
   100%{
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
   }
}
@keyframes rotate1 {
   0%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
   }
   100%{
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
   }
}
@keyframes rotate2 {
   0%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
   }
   100%{
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
   }
}
/* 
#PrdctCtr{
display:flex;
flex-direction: row;
width: 98%;
overflow-x: auto;
padding: 10px;
text-align: center;
color:#706372;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
